<% if !@correct_answer.nil? %>
  <% if @correct_answer %>
    <%= erb :"cards/_correct_results" %>
  <% else %>
    <%= erb :"cards/_incorrect_results" %>
  <% end %>
<% end %>



<%= @card.question %>
<form action="/decks/<%= @card.deck.id %>/cards/<%= @card.id %>/guess" method="POST">
  <input type="text" name="guess" placeholder="Take a guess!">
  <input type="submit" value="Guess">
</form>

<% if @next_card_id %>
  <a href="/decks/<%= @card.deck.id %>/cards/<%= @next_card_id %>">Next Card</a>
<% else %>
  <a href="/decks">Return to all decks</a>
<% end %>

